gunicorn==20.1.0
SQLAlchemy==1.4.26
Flask-SQLAlchemy==2.5.1
flask-marshmallow==0.14.0
Flask==2.0.2
Flask-Cors==3.0.10
Werkzeug==2.0.2
click==8.0.3
itsdangerous==2.0.1
MarkupSafe==2.0.1
Pillow==8.0.1
PyMySQL==1.0.2
pytz==2020.1
six==1.15.0
Babel==2.8.1
Flask-MySQL==1.5.2
Jinja2==2.10.3
